@model IEnumerable<PracticaFullCursoEFCore.Models.Clientes> 
 @{ 
     ViewData["Title"] = "Lista de Clientes"; 
     Layout = "~/Views/Shared/_Layout.cshtml"; 
 } 

 <div class="row"> 
     <div class="col-4"> 
         <h3>Lista de clientes</h3> 
     </div> 
     <div class="col-3"> 
         <a asp-action="Crear" class="btn-primary form-control text-decoration-none text-center">Nuevo Cliente</a> 
     </div> 

 </div> 

 <div> 
     @if (Model.Count() > 0) 
     { 
         <table class="table table-striped border"> 
             <tr> 
                 <th>@Html.DisplayNameFor(c => c.Nombre)</th> 
                 <th>@Html.DisplayNameFor(c => c.Correo)</th> 
                 <th>@Html.DisplayNameFor(c => c.Telefono)</th> 
                 <th>@Html.DisplayNameFor(c => c.Direccion)</th> 
                 <th>@Html.DisplayNameFor(c => c.Membresias)</th> 


                 <th></th> 
             </tr> 
             @foreach (var cliente in Model) 
             { 
                 <tr> 
                     <td>@cliente.Nombre</td> 
                     <td>@cliente.Correo</td> 
                     <td>@cliente.Telefono</td> 
                     <td>@cliente.Direccion</td> 
                     <td>@cliente.Membresias.TipoMembresia</td> 

                     <td> 
                         <a class="btn btn-primary text-white" asp-action="Editar" asp-route-id="@cliente.ID_Cliente">Editar</a> 
                         @* <a class="btn btn-secondary text-white" asp-action="Detalle" asp-route-id="@membresia.ID_Membresia">Detalles</a> *@
                        <a class="btn btn-danger text-white" asp-action="Borrar" asp-route-id="@cliente.ID_Cliente">Borrar</a> 

                     </td> 

                 </tr> 
             } 
         </table> 
     } 
     else 
     { 
         <p>No hay clientes</p> 
     } 
 </div>